.indexPage{
  background: #A2C7D7;

  .title{
    color: white;
    padding-top: 48px;
    text-align: center;
  }

  .subtitle{
    color: white;
    margin-bottom: 48px;
  }

  .enterBtn{
    width: 60vw;
    background: #806497;
  }


}
